* {
  margin: 0;
  padding: 0;
}

html,
body {
  box-sizing: border-box;
  width: 100%;
  height: 100vh;
  background-color: rgb(249, 250, 251);
}

.right-side {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 1rem;
  line-height: 1.3;

  margin-top: 100px;

  display: flex;
  flex-direction: column;
}

.right-side > h1 {
  padding-left: 3rem;
  width: 80%;
}

.form-wrapper {
  background-color: #ffffff;
  width: 100%;
  padding: 2rem 0 2rem 3rem;
}

.form-wrapper h1 {
  padding-bottom: 1rem;
}

.login-intro {
  padding: 50px 0;
}

.login-form {
  border: 1px solid #d6d9dc;
  border-radius: 3px;

  width: 80%;
  border: none;

  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 3rem;
}

.login-form h1 {
  margin: 10px 0;
}



.form-control input {
  background-color: #ffffff;
  border: 1px solid #d6d9dc;
  border-radius: 3px;
  width: 100%;
  padding: 5px;
  font-size: 1rem;
}

.form-control label {
  font-size: 1rem;
  display: block;
}

.login {
  padding-left: 3rem;
  padding-top: 1rem;
}

.form-control button {
  font-size: 1rem;
  font-weight: bold;

  color: #ffffff;
  background-color: #5995da;

  margin-top: 20px;
  margin-bottom: 2rem;
  border: none;
  border-radius: 10px;

  padding: 20px 70px;
  cursor: pointer;
}

.form-control button:hover {
  background-color: #76aeed;
}

.form-control button:active {
  background-color: #407fc7;
}

input:not(:focus):not(:placeholder-shown):invalid {
  border-color: red;
}

input:not(:focus):not(:placeholder-shown):valid {
  border-color: green;
}

/* 
400px = mobile
401 - 960px = tablet
961px = desktop
*/

/* Mobile Styles */
@media only screen and (max-width: 400px) {
}

/* Tablet Styles */
@media only screen and (min-width: 401px) and (max-width: 960px) {
  .form-control input {
    height: initial;
  }
  .form-control {
    flex-direction: row;
    align-items: flex-start; /* To avoid stretching */
    margin-bottom: 20px;
  }
  .form-control label {
    width: 250px;
    margin-top: 7px;
    padding-right: 20px;
  }
}

/* Desktop Styles */
@media only screen and (min-width: 961px) {
  .login-form {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    max-width: 90%;
  }

  .form-control {
    position: relative;
    min-height: 1px;
    width: 50%;
    flex: 0 0 100%;
    max-width: 40%;
  }

  .form-control input {
    max-width: 400px;
    height: initial;
  }
  .form-control {
    flex-direction: row;
    align-items: flex-start; /* To avoid stretching */
  }
  .form-control label {
    width: 250px;
    margin-top: 7px;
    padding-right: 20px;
  }
}
